aerc
blender
cef_user_data
celluloid
configstore
dconf
discord
docker
Electron
epiphany
exercism
GIMP
gnome-boxes
gnome-session
goa-1.0
Google
gtk-2.0
gtk-3.0
gtk-4.0
heroic
ibus
inkscape
irssi
JetBrains
keepassxc
libaccounts-glib
libreoffice
libvirt
matplotlib
menus
mpv
MusicBrainz
nautilus
news-flash
nicotine
npm
NuGet
nushell
obs-studio
obsidian
pipewire
pulse
qalculate
qt5ct
qt6ct
servo
simple-scan
sway
syncthing
systemd
tiling-assistant
zed
kde*
gtk*
.android
pavucontrol.ini
*flags.conf
monitors.xml*
.gsd-keyboard.settings-ported
fish/functions/streamer.fish
QtProject.conf
java
evolution
cava
rstudio
spek
go
wireshark
RStudio
B-Human
papers
R
glow
