@import "dark-colors.css";

* {
  font-family: "Inconsolata Nerd Font";
  font-weight: 600;
  font-size: 16px;
}

window {
  background: @bg;
}

label {
  padding: 0 8px;
  color: @text;
}

button {
  margin: 4px 0;
  border-radius: 4px;
}

tooltip {
  background: @bg1;
  border: solid 1px @border;
  border-radius: 4px;
}

#idle_inhibitor {
  margin: 4px 30px 4px 15px;
  padding-right: 15px;
  border-radius: 4px;
}

#idle_inhibitor.activated {
  color: @bg2;
  background: @yellow;
}

#workspaces button {
  padding: 0;
}
#workspaces button.active {
  background: @green;
}

#custom-bat.critical, #custom-microphone {
  color: @red;
}

/* Layout */
#custom-bat { margin: 0 20px 0 30px; }
#pulseaudio { margin-left: 30px; }
#network    { margin-left: 30px; }
