// vim:ft=rasi

* {
  bg:          #242424;
  bg-dim:      #3d3846;
  bg-selected: #5e5c64;
  text:        #fafafa;
  text-dim:    #deddda;
  accent:      #9a9996;
  border:      #5e5c64;
  red:         #e01b24;
}
