/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/* Blend Inactive tabs favicon */
#TabsToolbar #tabbrowser-tabs .tabbrowser-tab[pending] .tab-content:not(:hover) {
  opacity: 0.3;
  transition: filter 0.2s ease-in;

  .tab-icon-image {
    filter: grayscale(100%);
  }
}
