// vim:ft=rasi
@import "config"

window {
  width: 700;
  location: south west;
  x-offset: 50;
  y-offset: -50;
}

mainbox {
  children: [ inputbar, listview ];
}

inputbar {
  children: [ prompt, entry ];
}
entry {
  placeholder: " Clipboard";
}

listview {
  lines: 5;
}

element {
  padding: 8 0 8 5;
}

element-text {
  horizontal-align: 0;
}
