// vim:ft=rasi
@import "config"

configuration {
  display-drun: "";
  drun-display-format: "{name}";
  disable-history: false;
}

window {
  width: 300;
  location: south east;
  x-offset: -50;
  y-offset: -50;
}

mainbox {
  children: [ inputbar, listview ];
}

inputbar {
  children: [ prompt, entry ];
}

entry {
  placeholder: " Launch";
}

listview {
  lines: 5;
}
