// vim:ft=rasi
@import "config"

window {
  height: 264;
  width: 60;
  location: west;
  x-offset: 50;
}

mainbox {
  children: [ listview ];
}

element-text {
  padding: 2 0 2 -8;
  font: "Inconsolata Nerd Font 20";
}

element-text selected {
  text-color: @red;
}
