[Unit]
Description=Restic backup
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/fish -c backup

[Install]
WantedBy=default.target
