[Unit]
Description=Backup the home directory with restic to a remote location
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/fish -c backup

[Install]
WantedBy=default.target
