// vim:ft=rasi

* {
  bg:          #282828;
  bg-dim:      #3c3836;
  bg-selected: #504945;
  text:        #fbf1c7;
  text-dim:    #a89984;
  accent:      #8ec07c;
  border:      #689d6a;
  red:         #fb4934;
}
