// vim:ft=rasi

* {
  bg:                  #282828;
  bg-light:            #3c3836;
  bg-element-selected: #504945;
  fg:                  #fbf1c7;
  fg-dimmed:           #a89984;
  accent:              #8ec07c;
  border:              #8ec07c;
  red:                 #fb4934;
}
