// vim:ft=rasi
@import "config"

window {
  width: 900;
  location: center;
}

mainbox {
  children: [ inputbar, listview ];
}

inputbar {
  children: [ prompt, entry ];
}

entry {
  placeholder: " Read";
}

listview {
  lines: 10;
}
