// vim:ft=rasi

* {
  bg:                              #282828;
  bg-light:                        #3C3836;
  bg-element-selected:             #504945;
  fg:                              #FBF1C7;
  fg-dimmed:                       #A89984;
  accent:                          #8EC07C;
  border:                          #8ec07c;
  red:                             #FB4934;

  bordrad:                         5px;
  transparent:                     #00000000;
}
