/* location ~/.mozilla/mario/chrome/userChrome.css */

/* @import url(snippets/autohide_tabstoolbar.css); */
@import url(snippets/blank_page_background.css);
@import url(snippets/hide_tabs_scrollbuttons.css);
@import url(snippets/hide_close_button.css);
@import url(snippets/prevent-tab-overflow.css);
@import url(snippets/dim-pending-tabs.css);

#tracking-protection-icon-container, #remote-control-box,
#urlbar-search-button, #urlbar-label-box, #reader-mode-button,
#urlbar-go-button, #star-button-box, #identity-box,
.unified-extensions-item-message,
.titlebar-buttonbox-container .titlebar-buttonbox { display: none !important; }
#urlbar-input-container { text-align: center; }

:root {
  --tab-selected-bgcolor: #32302f;
  --bg-dark: #1d2021;
  --text-dim: #665c54;
  --bg: #282828;
  
@media (prefers-color-scheme: dark) {
  :host(:is(.anonymous-content-host, notification-message)), :root {
  
    --in-content-page-background: #282828;
    --in-content-page-color: #fbf1c7 !important;

    --in-content-box-background: #3c3836 !important;
    --in-content-box-background-odd: rgba(249,249,250,0.05);
    --in-content-box-info-background: rgba(249,249,250,0.15);

    --in-content-border-color: #665c54;
    --in-content-border-hover: rgba(249,249,250,0.3);
    --in-content-border-invalid: rgb(255,132,139);

    --in-content-error-text-color: #FF9AA2;
    --in-content-warning-icon-color: #ffbd4f;
    --in-content-success-icon-color: #54FFBD;

    --in-content-icon-color: rgb(251,251,254);

    --in-content-primary-button-text-color: rgb(43,42,51);
    --in-content-primary-button-background: rgb(0,221,255);
    --in-content-primary-button-background-hover: rgb(128,235,255);
    --in-content-primary-button-background-active: rgb(170,242,255);

    --in-content-danger-button-background: #ff848b;
    --in-content-danger-button-background-hover: #ffbdc5;
    --in-content-danger-button-background-active: #ffdfe7;

    --in-content-table-background: rgb(35, 34, 43);

    --card-outline-color: var(--grey-60);

    --dialog-warning-text-color: var(--red-40);
  }
}

.browser-toolbar:not(.titlebar-color) { background-color: var(--bg) !important; }
#urlbar-background, #searchbar { background-color: var(--bg) !important; border: none !important; }
#navigator-toolbox { border-bottom: none !important; }
#urlbar[focused="true"]:not([suppress-focus-border]) > #urlbar-background,
#searchbar:focus-within { outline: none !important; }
#urlbar[focused="true"] > #urlbar-background,
#searchbar:focus-within { box-shadow: none !important; }
#nav-bar:not([tabs-hidden="true"]) { box-shadow: none !important; }
.urlbarView-url { color: var(--text-dim) !important; }
.sidebar-splitter { background: var(--bg) !important; border: none !important; }
.sidebar-splitter:hover { background: var(--text-dim) !important; }
#sidebar-box { background: var(--bg) !important; }
#sidebar-header { display: none !important; }
#alltabs-button { display: none !important; }
